<div class="container__big-card">
  <div class="big-card__photo">
    <img 
      src="https://tm.ibxk.com.br/2022/11/21/21225117851006.jpg?ims=750x" 
      alt="" 
      height="200px" 
      srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu o novo jogo assasins creed valhalla</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Sinopse. O movimento do Grande Exército Pagão na Inglaterra durante as expansoes Vikings. O mapa mostra alguns
        dos reinos que o jogador pode explorar em Valhalla. Em Assassin's Creed Valhalla, a história acontece perto do
        final do século IX, em 873, durante as Invasões Vikings da Grã Bretanha.
      </a>
    </p>
  </div>
</div>