.container__big-card {
    margin-left: 20px;
    margin-right: 20px;

    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-itens: center;
    justify-content: flex-start;
}
.big-card__title h1 {
    margin-top: 15px;
    font-size: 20px
}
.big-card__description {
    margin-top: 20px;
}
.big-card__description  p a {
    color: grey
}
.big-card__photo img {
    width: 100%;
    min-width: 500px;
}

@media (max-width: 600px) {
    .container__big-card {
        height: 460px;
        width: 340px;
    }
    .big-card__photo img {
        min-width: 350px;
    }
}