<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img                  
        src="https://image.api.playstation.com/vulcan/ap/rnd/202306/0113/dff5e6c6b9cdd36b417d13aea5bc7cede609f70a44905ac8.jpg"
        alt="" 
        height="200px" 
        srcset="">
    </div>
    <div class="small-card__title">
      <h1><a href="#">Avatar frontiers of pandora</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr />
  </div>
</div>