<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card cardTitle="Avatar Frontiers of Pandora" photoCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/0113/dff5e6c6b9cdd36b417d13aea5bc7cede609f70a44905ac8.jpg"></app-small-card>
    <app-small-card cardTitle="Tom Clancys The Division" photoCover="https://s2-techtudo.glbimg.com/Nn_bCaF7U_n97ZOotut1prAMwjc=/0x0:695x391/984x0/smart/filters:strip_icc()/s.glbimg.com/po/tt2/f/original/2016/06/07/tom-clancys-the-divisiontm_20160310005913.jpg"></app-small-card>
  </div>
</div>